
@{
    ViewBag.Title = "Profiliniz Güncellendi";
}
<div class="container">
    <div class="row" style="margin-top:50px;">
        <div class="panel panel-success">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-ok-circle" style="color:forestgreen; font-size:40px;">
                </span>
                <br />
                <br />
                <h1 style="color:dimgrey;">Profiliniz başarıyla güncellenmiştir
                
                .</h1>
            </div>
        </div>
    </div>
</div>

